@import url('./reset.css');
@import url('./var.css');

* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

.header {
    margin: 0 auto;
    max-width: 793px;
    text-align: center;
    background-color: var(--color-bg-header);
    padding-top: 19px;
    padding-bottom: 12px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-title);
    vertical-align: middle;
    margin-bottom: 4px;
}

h2 {
    color: var(--color-title);
    font-weight: 400;
    font-size: 16px;
    vertical-align: middle;

}

.container {
    max-width: 793px;
    margin: 0 auto;
    background-color: var(--color-bg-container);
}

.shopping-list {
    padding-top: 20px;
    padding-bottom: 45px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    margin: 0;
    border: none;
    width: 534px;
    margin: 0 auto;
    background-color: var(--color-bg-field);
    margin-bottom: 45px;

}

.form-field {
    border-bottom: 1px solid #88839E;
    background-color: #88839E;
    display: flex;
    align-items: center;
}

.form-field:nth-child(even) {
    background-color: var(--color-bg-field-checked);
    box-shadow: 0px 4px 4px 0px #00000040;

}

input {
    margin: 12px 0 14px 12px;
    width: 19px;
    height: 19px;
}


input[type="checkbox"] {
    border: none;
}

label {
    /* float: right; */
    padding-left: 16px;
    color: var(--color-border);
    font-weight: 400;
    font-size: 18px;
}

label>span {
    font-weight: 400;
    font-size: 11px;
    color: var(--color-border);
}

.form-field:hover {
    background-color: var(--color-bg-field-hover);
    border-bottom: 3px solid var(--color-border);
    border-top: 3px solid var(--color-border);

}

input:checked+label,
input:checked+label>span {
    background-color: var(--color-bg-field-checked);
    color: var(--color-text-checked);
    text-decoration: line-through;
}

.bon-appetit {
    color: var(--color-title);
    display: block;
    font-weight: 400;
    font-size: 18px;
    width: 534px;
    height: 45px;
    margin: 0 auto;
    border: none;
    padding: 12px 0;
    text-align: center;
    background-color: var(--color-bg-header);
}