@import url('./reset.css');
@import url('./var.css');

* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

.header {
    margin: 0 auto;
    max-width: 793px;
    text-align: center;
    background-color: var(--color-bg-header);
    padding-top: 19px;
    padding-bottom: 12px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-title);
    margin-bottom: 4px;
}

h2 {
    color: var(--color-title);
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 793px;
    margin: 0 auto;
    background-color: var(--color-bg-container);
}

.shopping-list {
    padding-top: 20px;
    padding-bottom: 45px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    width: 534px;
    margin: 0 auto;
    background-color: var(--color-bg-field);
    margin-bottom: 45px;
}

.form-field {
    display: flex;
    align-items: center;
    position: relative;
}

.form-field:nth-child(even) {
    background-color: var(--color-bg-field-checked);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);

}

input {
    margin: 12px 0 14px 12px;
    width: 19px;
    height: 19px;
}


input[type="checkbox"] {
    border: none;
}

label {
    /* float: right; */
    padding-left: 16px;
    color: var(--color-border);
    font-weight: 400;
    font-size: 18px;
}

label>span {
    font-weight: 400;
    font-size: 11px;
    color: var(--color-border);
}

.form-field::after,
.form-field::before {
    content: '';
    height: 3px;
    width: 100%;
    opacity: 0;
    background-color: var(--color-border);
    position: absolute;
    top: 0;
    left: 0;
}
.form-field::before{
    top: auto;
    bottom: 0;
}
.form-field:hover::after,
.form-field:hover::before {
    opacity: 1;
}
.form-field:hover {
    background-color: var(--color-bg-field-hover);
}
input[type="checkbox"] {
  accent-color: #ffb700;
}
input:checked+label,
input:checked+label>span {
    background-color: var(--color-bg-field-checked);
    color: var(--color-text-checked);
    /* text-decoration: line-through; */
}
input:checked+label::after{
    content: '';
    position: absolute;
    top:50%;
    left: 47px;
    width: 50%;
    height: 1px;
    background-color: var(--color-text-checked);
    opacity: 1;
}
.bon-appetit {
    color: var(--color-title);
    display: block;
    font-weight: 400;
    font-size: 18px;
    width: 534px;
    height: 45px;
    margin: 0 auto;
    border: none;
    padding: 12px 0;
    text-align: center;
    background-color: var(--color-bg-header);
}